node_modules
.next
out
.git
.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
README.md
docs
.gjc
.github
scripts
deploy/.env
deploy/.env.*
!deploy/.env.example
.vscode
.idea
coverage
*.tsbuildinfo
